.exitButton {
    -fx-background-color:
            linear-gradient(red, darkred),
            radial-gradient(center 50% -40%, radius 200%, #ff3636 45%, #ff0000 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: black;
    -fx-pref-width: 100;
    -fx-max-width: 100;
    -fx-min-width: 100;
    -fx-pref-height: 40;
    -fx-min-height: 40;
    -fx-max-height: 40;
}
.exitButton:hover {
    -fx-translate-x: -10;
    -fx-translate-y: -10;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 50, 0.0 , 0 , 1 );
    -fx-pref-width: 120;
    -fx-max-width: 120;
    -fx-min-width: 120;
    -fx-pref-height: 60;
    -fx-min-height: 60;
    -fx-max-height: 60

}

.restartButton {
    -fx-background-color:
            linear-gradient(#f0ff35, #a9ff00),
            radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #80c800 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #395306;
    -fx-pref-width: 100;
    -fx-max-width: 100;
    -fx-min-width: 100;
    -fx-pref-height: 40;
    -fx-min-height: 40;
    -fx-max-height: 40;
}
.restartButton:hover {
    -fx-translate-x: -10;
    -fx-translate-y: -10;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 50, 0.0 , 20 , 1 );
    -fx-pref-width: 120;
    -fx-max-width: 120;
    -fx-min-width: 120;
    -fx-pref-height: 60;
    -fx-min-height: 60;
    -fx-max-height: 60
}

.baseRestartButton {
    -fx-translate-x: 10;
    -fx-translate-y: 10;
    -fx-background-color: transparent;
}

.healthBar {
    -fx-translate-x: 880;
    -fx-translate-y: 20;
}

.scoreButton {
    -fx-translate-x: 450;
    -fx-translate-y: 20;
    -fx-pref-width: 110;
    -fx-max-width: 110;
    -fx-min-width: 110;
    -fx-pref-height: 40;
    -fx-min-height: 40;
    -fx-max-height: 40;
    -fx-background-color:
            #090a0c,
            linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
            linear-gradient(#20262b, #191d22),
            radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 12px;
    -fx-padding: 10 20 10 20;
}


.scoreButton Text {
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.9) , 1, 0.0 , 0 , 1 );
}

.laserButton {
    -fx-translate-x: 580;
    -fx-translate-y: 20;
    -fx-pref-width: 150;
    -fx-max-width: 150;
    -fx-min-width: 150;
    -fx-pref-height: 40;
    -fx-min-height: 40;
    -fx-max-height: 40;
    -fx-background-color:
            #090a0c,
            linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
            linear-gradient(#20262b, #191d22),
            radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 12px;
    -fx-padding: 10 20 10 20;
}


.laserButton Text {
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.9) , 1, 0.0 , 0 , 1 );
}
